Hello details!
<div id="contactsDetailsContainer" *ngIf="selectedContact">
<span *ngIf="!showEdit">
                <label>First Name: </label><b>{{selectedContact.firstName}}</b><br/>
                <label>Last Name: </label><b>{{selectedContact.lastName}}</b><br/>
                <label>Email: </label><b>{{selectedContact.email}}</b><br/>
                <label></label><a class="text-danger" (click)="showEdit=true">
  <span class="glyphicon glyphicon-edit" (click)="showEdit = true"></span>Edit</a><br/></span>


  <form [formGroup]="contactForm" *ngIf="showEdit" novalidate>
    <label for="firstName">First Name: </label>
    <input id="firstName" name="firstName" formControlName="firstName"
           ><br/>
    <div class="alert alert-danger" role="alert"
         *ngIf="contactForm.controls.firstName && !contactForm.controls.firstName.pristine && !contactForm.controls.firstName.valid">
      First name is required
    </div>

    <label for="lastName">Last Name: </label>
    <input id="lastName" name="lastName" formControlName="lastName"
          ><br/>
    <div class="alert alert-danger" role="alert"
         *ngIf="contactForm.controls.lastName && !contactForm.controls.lastName.pristine && !contactForm.controls.lastName.valid">
      Last name is required
    </div>

    <label for="email">email: </label>
    <input id="email" name="email" formControlName="email" ><br/>
    <div class="alert alert-danger" role="alert"
         *ngIf="contactForm.controls.email && !contactForm.controls.email.valid">Email is invalid
    </div>


    <label></label>
    <input type="submit" class="btn btn-danger" (click)="onSubmit()"
           value="{{ !selectedContact.id ? 'Add' : 'Save' }}"
           [disabled]="contactForm.invalid || contactForm.pristine"/>
    <a href="#" class="text-danger" (click)="onCancel()">Cancel</a>
  </form>
</div>
