
<ul>
  <li appHighlight highlightColor="" class="item"  [class.active]="currentContact?.id == contact.id" *ngFor="let contact of contacts">
    <a (click)="selectContact(contact)">{{contact.firstName}} {{contact.lastName | myUpper}}</a>
    <a class="remove" (click)="removeContact(contact)"><span class="glyphicon glyphicon-remove-sign"></span></a>
  </li>
</ul>

<router-outlet></router-outlet>
